version: "3.0"

services:

  rabbitmq:
    image: rabbitmq
    ports:
      - "5672:5672" # rabbitmq server
      - "15672:15672" # administative dashboard
    restart: on-failure
    networks:
      - compressor
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 30s
      retries: 5

  run_celery_master:
    build: .
    container_name: celery_master
    networks:
      - compressor
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: celery -A compressor worker -l INFO
        
  run_celery_worker:
    build: .
    container_name: celery_worker
    networks:
      - compressor
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: celery -A compressor worker -B

  server:
    container_name: compressor-backend
    restart: on-failure
    build: .
    expose:
      - "8000"
    env_file: .env
    networks:
      - compressor
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: python3 manage.py runserver

networks:
  compressor:
